<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main/main.css" />
</head>
<body>


<header id="header" class="alt">
    <div class="logo"><a href="#">LEAVE MANAGEMENT</a></div>
    <div class="logout" ><a href="/student/status">Status</a></div>
    <div class="logout" ><a href="/logout">Logout</a></div>
</header>
<section class="banner full">
    <article>
        <img src="/images/main/banner1.jpg" alt="" />
        <div class="inner">
            <header>
                <p>Sri Ramakrishna Engineering College</p>
                <h2>Leave Management</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="/images/main/banner2.jpg"  alt="" />
        <div class="inner">
            <header>
                <p>Sri Ramakrishna Engineering College</p>
                <h2>On-Duty Management</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="/images/main/banner3.jpg"  alt="" />
        <div class="inner">
            <header>
                <p>Sri Ramakrishna Engineering College</p>
                <h2>Student Details</h2>
            </header>
        </div>
    </article>
    <article>
        <img src="/images/main/banner4.jpg" alt="" />
    </article>
</section>

<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="/images/leave.jpg" height="300px" width="100px" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>Sri Ramakrishna Engineering College</p>
                            <h2>Leave</h2>
                        </header>
                        <footer class="align-center">
                            <a href="/leave" class="button alt">Apply Now</a>
                        </footer>
                    </div>
                </div>
            </div>

            <div>
                <div class="box">
                    <div class="image fit">
                        <img src="/images/od.jpg" height="300px" width="100px" alt="" />
                    </div>
                    <div class="content">
                        <header class="align-center">
                            <p>Sri Ramakrishna Engineering College</p>
                            <h2>On-Duty</h2>
                        </header>
                        <footer class="align-center">
                            <a href="/od" class="button alt">Apply Now</a>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<footer id="footer">

    <div class="copyright">

    </div>
</footer>

<script src="/javascripts/main/jquery.min.js"></script>
<script src="/javascripts/main/jquery.scrollex.min.js"></script>
<script src="/javascripts/main/skel.min.js"></script>
<script src="/javascripts/main/util.js"></script>
<script src="/javascripts/main/main.js"></script>

</body>
</html>